The question has FOUR options (A), (B), (C) and (D). ONE OR MORE THAN ONE of these four options are the correct answers. For each question, choose the options corresponding to all the correct answers. Answer to each question will be evaluated according to the following marking scheme:

* Full Marks : +4 ONLY if ALL the correct options are chosen
* Partial Marks : +n if more than n options are correct but only n correct options are chosen (n = 1,2,3)
* Zero Marks : 0 If none of the options is chosen (i.e. the question is unanswered)
* Negative Marks : −2 In all other cases

When you are done with your attempt, box your final answer using `\boxed{ANS1,ANS2,...}`, where each ANSi corresponds to a correct option, and is a single character that is either A,B,C,D. Do this if you're confident and choose to answer the question, otherwise write `final_answer(O)` if you choose to skip the question. IT IS VERY IMPORTANT TO OUTPUT THIS AT THE END, as without this present you will get -100 marks and fail the evaluation.

Question:"""
{{question}}

(A) {{options[0]}}
(B) {{options[1]}}
(C) {{options[2]}}
(D) {{options[3]}}
"""

Answer:"""
