The answer to the question is a NUMERICAL VALUE, that is extended/rounded-off to TWO decimal places. Answer to each question will be evaluated according to the following marking scheme:

* Full Marks : +4 If ONLY the correct numerical value is provided
* Zero Marks : 0 In all other cases

When you are done with your attempt, box your final answer using `\boxed{ANS}`, where ANS is a floating-point number containing two decimal places and an optional sign, eg. -3.00, 0.67, 2.28. IT IS VERY IMPORTANT TO OUTPUT THIS AT THE END, as without this present you will get -100 marks and fail the evaluation.

Question:"""
{{question}}
"""

Answer:"""
