The question has FOUR options (A), (B), (C) and (D). ONLY ONE of these four options is the correct answer. For each question, choose the option corresponding to the correct answer. Answer to each question will be evaluated according to the following marking scheme:

* Full Marks : +3 If ONLY the correct option is chosen
* Zero Marks : 0 If none of the options is chosen (i.e. the question is unanswered)
* Negative Marks : -1 in all other cases

When you are done with your attempt, box your final answer using `\boxed{ANS}`, where ANS is a single character that is either A,B,C,D if you're confident and choose to answer the question, or O if you choose to skip the question. IT IS VERY IMPORTANT TO OUTPUT THIS AT THE END, as without this present you will get -100 marks and fail the evaluation.

Question:"""
{{question}}

(A) {{options[0]}}
(B) {{options[1]}}
(C) {{options[2]}}
(D) {{options[3]}}
"""

Answer:"""
